{% extends "layout.html" %}
{% block body %}
      <div class="hero-unit">
        <h1>Bacon Ipsum</h1>
        <h2>A Meatier Lorem Ipsum Generator</h2>
      </div>
      <div class="row">
        <div class="span6 offset3">
          <form id="bacon-form" class="form-horizontal">
            <fieldset>
              <legend>Does your lorem ipsum text long for something a little meatier? Give our
                generator a try it’s tasty!</legend>

              <div class="control-group">
                <label class="control-label" for="paragraphs">Paragraphs</label>
                <div class="controls">
                  <input type="text" class="input-mini" id="paragraphs" name="paragraphs" value="3" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="length">Length</label>
                <div class="controls">
                  <select id="length">
                    <option value="long" selected="selected">long</option>
                    <option value="medium">medium</option>
                    <option value="short">short</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="start-with-lorem">Start</label>
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" id="start-with-lorem" name="start-with-lorem" value="1" />
                    Start with "Bacon ipsum dolor sit amet..."
                  </label>
                </div>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Make bacon!</button>
            </fieldset>
          </form>
        </div>
      </div>

{% endblock %}
