{% extends "layout.html" %}
{% block body %}
      <div class="hero-unit">
        <h1>Bacon Ipsum</h1>
        <h2>A Meatier Lorem Ipsum Generator</h2>
      </div>

      <div class="row">
        <div class="span6 offset3">
          <form id="bacon-form" class="form-horizontal">
            <fieldset>
              <legend>Need meat in your lorem ipsum? Generate some bacon ipsum!</legend>

              <div class="control-group">
                <label class="control-label" for="paragraphs">Paragraphs</label>
                <div class="controls">
                  <input type="text" class="input-mini" id="paragraphs" name="paragraphs" value="3" />
                  <span id="paragraphs-error" class="help-inline" style="display:none;">
                    Enter a positive number
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="length">Length</label>
                <div class="controls">
                  <select id="length" name="length">
                    <option value="long" selected="selected">long</option>
                    <option value="medium">medium</option>
                    <option value="short">short</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="loremstart">Start</label>
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" id="loremstart" name="loremstart" value="1" />
                    Start with "Bacon ipsum dolor sit amet..."
                  </label>
                </div>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">Fry up some bacon!</button>
                <a class="btn btn-large" id="highlight-text">Highlight text</a>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="span6 offset3" id="ipsum-text"></div>
      </div>

{% endblock %}
